<br /><br /><br />
<ul class="custome-list">
    <li><div class="img-circle"></div>Manual and Quick Setup Guide</li>
    <li><div class="img-circle"></div>Connect Your Mobile Device</li>
    <li><div class="img-circle"></div>Download Warranty @Safety Sheets</li>
</ul>
