<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="spotLight-img">
    <img src="assets/imgs/spolight-img.jpg">
  </div>
  <button (click)="showAlert()">Click Me</button>
  <div class="title">
    <h1>Register your Printer</h1>
  </div>
  <div class="form-container" padding>
    <div class="form-top-txt">
      <h3>Tells us about yourself</h3>
      <a>Why Register your Printer?</a>
    </div>
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div *ngIf="registerForm == sucess">
        <div class="alert alert-success">{{sucessMessage}}</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
         'has-success': firstName.valid && (firstName.dirty || firstName.touched)
       }">
            <label class="form-feild">First Name:<sup>*</sup></label>
            <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name">
            <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
              <p *ngIf="firstName.errors.required">First Name is required</p>
              <p *ngIf="firstName.errors.pattern">Only alphabets allowed</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
         'has-success': lastName.valid && (lastName.dirty || lastName.touched)
       }">
            <label class="form-feild">Last Name: <sup>*</sup></label>
            <input type="text" formControlName="lastName" name="lastName" class="form-control custom-form-control" required placeholder="Last Name">

            <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
              <p *ngIf="lastName.errors.required">Last Name is required</p>
              <p *ngIf="lastName.errors.pattern">Only alphabets allowed</p>
            </div>

          </div>
        </div>

        <div formGroupName="emailAddressValid" class="emailAddressValid">

          <div class="col-xs-12">
            <div class="from-group"
            [ngClass]="{
          'has-danger': emailAddress.invalid && (emailAddress.dirty || emailAddress.touched),
          'has-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)
          }">
              <label class="form-feild">Email Address:<sup>*</sup></label>
              <input type="email" formControlName="emailAddress" id="emailAddress" name="emailAddress" class="form-control custom-form-control" required placeholder="Email Address">
              
              <div class="form-control-feedback" *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
                <p *ngIf="emailAddress.errors.required">Email Address is required</p>
                <p *ngIf="emailAddress.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></p>
              </div>
              
            </div>
          </div>

          <div class="col-xs-12">
            <div class="from-group"
            [ngClass]="{
          'has-danger': verifyEmail.invalid && (verifyEmail.dirty || verifyEmail.touched),
          'has-success': verifyEmail.valid && (verifyEmail.dirty || verifyEmail.touched)
          }">
              <label class="form-feild">Verify Email:<sup>*</sup></label>
              <input type="email" formControlName="verifyEmail" id="verifyEmail" name="verifyEmail" (keyup)="vari($event)" class="form-control custom-form-control" required placeholder="Verify Email">
              <div class="form-control-feedback" *ngIf="verifyEmail.errors && (verifyEmail.dirty || verifyEmail.touched)">
                <p *ngIf="verifyEmail.errors.required">Verify Email is required</p>
                <p *ngIf="verifyEmail.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></p>
                <p *ngIf="verifyEmail.errors">Email Id not Same</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': address1.invalid && (address1.dirty || address1.touched),
         'has-success': address1.valid && (address1.dirty || address1.touched)
       }">
            <label class="form-feild">address 1:<sup>*</sup></label>
            <input type="text" formControlName="address1" name="address1" class="form-control custom-form-control" required placeholder="Address">
            <div class="form-control-feedback" *ngIf="address1.errors && (address1.dirty || address1.touched)">
              <p *ngIf="address1.errors.required">Address1 is required</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group">
            <label class="form-feild">address 2:</label>
            <input type="text" formControlName="address2" name="address2" class="form-control custom-form-control" placeholder="Address">
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': city.invalid && (city.dirty || city.touched),
         'has-success': city.valid && (city.dirty || city.touched)
       }">
            <label class="form-feild">City:<sup>*</sup></label>
            <input type="text" formControlName="city" name="city" class="form-control custom-form-control" required placeholder="City">
            <div class="form-control-feedback" *ngIf="city.errors && (city.dirty || city.touched)">
              <p *ngIf="city.errors.required">City is required</p>
              <p *ngIf="city.errors.pattern">Only alphabets allowed</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group">
            <label class="form-feild">Country:</label>
            <input type="text" formControlName="country" name="country" class="form-control custom-form-control" placeholder="Country">
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': state.invalid && (state.dirty || state.touched),
         'has-success': state.valid && (state.dirty || state.touched)
       }">
            <label class="form-feild">State:<sup>*</sup></label>
            <input type="text" formControlName="state" name="state" class="form-control custom-form-control" required placeholder="State">
            <div class="form-control-feedback" *ngIf="state.errors && (state.dirty || state.touched)">
              <p *ngIf="state.errors.required">State is required</p>
              <p *ngIf="city.errors.pattern">Only alphabets allowed</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': postalCode.invalid && (postalCode.dirty || postalCode.touched),
         'has-success': postalCode.valid && (postalCode.dirty || postalCode.touched)
       }">
            <label class="form-feild">Postal Code:<sup>*</sup></label>
            <input type="text" formControlName="postalCode" name="postalCode" minlength="6" maxlength="6" pattern="[0-6]*" class="form-control custom-form-control" required placeholder="Postal Code">
            <div class="form-control-feedback" *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)">
              <p *ngIf="postalCode.errors.required">Postal Code is required</p>
              <p *ngIf="postalCode.errors.minlength">Postal Code minimum 6 digit</p>
              <p *ngIf="postalCode.errors.pattern">Postal Code should be only numbers</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched),
         'has-success': mobileNumber.valid && (mobileNumber.dirty || mobileNumber.touched)
       }">
            <label class="form-feild">Mobile Number:<sup>*</sup></label>
            <input type="text" formControlName="mobileNumber" name="mobilNumber" minlength="10" maxlength="10" class="form-control custom-form-control" required placeholder="Mobile Number">
    
            <div class="form-control-feedback" *ngIf="mobileNumber.errors && (mobileNumber.dirty || mobileNumber.touched)">
              <p *ngIf="mobileNumber.errors.required">Mobile is required</p>
              <p *ngIf="mobileNumber.errors.minlength">Mobile Number 10 digit</p>
              <p *ngIf="mobileNumber.errors.pattern">Mobile number should be only numbers</p>
            </div>

          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group">
            <label class="form-feild">LandLine Number:</label>
            <input type="text" formControlName="landLineNumber" name="landLineNumber" class="form-control custom-form-control" placeholder="LandLine Number">
          </div>
        </div>

        <div class="col-xs-12">
          <p>Funai does not share or sell its customers names or emails with other companies for their marketing purposes. See our '<a herf="javascript:;">Privacy Policy</a>' for further details</p>
        </div>

        <div class="col-xs-12">
          <div class="from-group">
            <label class="form-feild">Would you like to register a KODAK Printer?:</label>
            <select class="form-control custom-form-select-control" formControlName="choosePrinter" name="choosePrinter">
              <option>Choose Printer</option>
            </select>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': serialNumber.invalid && (serialNumber.dirty || serialNumber.touched),
         'has-success': serialNumber.valid && (serialNumber.dirty || serialNumber.touched)
       }">
            <label class="form-feild">Serial Number:<sup>*</sup></label>
            <select class="form-control custom-form-select-control" formControlName="serialNumber" name="serialNumber" required>
              <option>Please enter product serial number starting with letter ‘J'</option>
            </select>
            <div class="form-control-feedback" *ngIf="serialNumber.errors && (serialNumber.dirty || serialNumber.touched)">
              <p *ngIf="serialNumber.errors.required">Please Select Product Serial Number</p>
            </div>
          </div>
          <a href="javascript:;">How do I find my product serial number?</a>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': purchaseMonth.invalid && (purchaseMonth.dirty || purchaseMonth.touched),
         'has-success': purchaseMonth.valid && (purchaseMonth.dirty || purchaseMonth.touched),
         'has-danger': purchaseDay.invalid && (purchaseDay.dirty || purchaseDay.touched),
         'has-success': purchaseDay.valid && (purchaseDay.dirty || purchaseDay.touched),
         'has-danger': purchaseYear.invalid && (purchaseYear.dirty || purchaseYear.touched),
         'has-success': purchaseYear.valid && (purchaseYear.dirty || purchaseYear.touched)
       }">
            <label class="form-feild">Purchase Date:<sup>*</sup></label>
            <div class="row">
              <div class="col-xs-4">
                <select class="form-control custom-form-select-control" formControlName="purchaseMonth" name="purchaseMonth" required>
                  <option>Month</option>
                </select>
              </div>
              <div class="col-xs-4">
                <select class="form-control custom-form-select-control" formControlName="purchaseDay" name="purchaseDay" required>
                  <option>Day</option>
                </select>
              </div>
              <div class="col-xs-4">
                <select class="form-control custom-form-select-control" formControlName="purchaseYear" name="purchaseYear" required>
                  <option>Year</option>
                </select>
              </div>
            </div>
            <div class="form-control-feedback" *ngIf="purchaseMonth.errors && (purchaseMonth.dirty || purchaseMonth.touched)">
              <p *ngIf="purchaseMonth.errors.required">Please Select Purchase Month</p>
            </div>
            <div class="form-control-feedback" *ngIf="purchaseDay.errors && (purchaseDay.dirty || purchaseDay.touched)">
              <p *ngIf="purchaseDay.errors.required">Please Select Purchase Date</p>
            </div>
            <div class="form-control-feedback" *ngIf="purchaseYear.errors && (purchaseYear.dirty || purchaseYear.touched)">
              <p *ngIf="purchaseYear.errors.required">Please Select Purchase Year</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 text-center">
          <button type="submit" [disabled]="!registerForm.valid" class="registerBtn">Register</button>
        </div>
        
      </div>
    </form>
  </div>
</ion-content>
