<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <a class="logo-container" href="#">
                <img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo">
            </a>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding0>
    <ion-grid class="sub-header">
        <ion-row>
            <ion-col col-6>
                <a class="go-back" (click)="pushBack()"><img class="" width="20" src="assets/imgs/back-tab.jpg" alt="kodak-logo"></a>
            </ion-col>
            <ion-col col-6>
                <a class="change-model" (click)="pushHome()">Change Model</a>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
              <div class="banner-image" *ngFor="let p of productPics">
                  <img width="100%" src="http://124.30.44.230/funaihelpver1/{{p.modelPic}}" class="img-responsive" alt=""/>
                </div>

                <!-- <div class="banner-image"><img width="100%" class="img-responsive" src="assets/imgs/kodak-verite-55.jpg" alt="printer" /></div> -->
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-tabs #solutionTabs tabsplacement="top" primary class="black-tab">
        <ion-tab [root]="tab1Root" tabTitle="Downloads">Downloads</ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Troubleshoot">Troubleshoot</ion-tab>
    </ion-tabs>
</ion-content>
