page-tabs{
    .black-tab { top:0px; position: relative;}
    .black-tab .tabbar{opacity:1;}
    .black-tab .tabbar{background: #000;}
    .black-tab .tab-button{color:#fff;  border-bottom: 2px solid #000;}
    .black-tab .tab-button[aria-selected=true] {color: #ffb834; text-decoration:none; border-bottom: 2px solid #ffb834}
    .black-tab .tab-button-text{font-size:14px;}
    .sub-header{position: relative; top: 0px;z-index: 999;}
    .banner-image{width: 100%; margin-bottom:10px;}
    .sub-header{border-bottom:1px solid #eeeeee; padding:10px 20px;}
    .change-model{float:right; color:#000; text-decoration: underline;}
    .custome-list{background:#f7f7f7; padding:0px; margin:0px; list-style: none}
    .custome-list li{ padding:10px; display: flex; border-bottom: 1px solid #ededed;
        -ms-flex-align: center;
         -webkit-align-items: center;
        -webkit-box-align: center;    
        align-items: center;}
    .img-circle{border:1px solid #000; width: 70px; height: 70px; border-radius: 250px; margin-right: 10px;}
}