<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (click)="showAlert()">Click Me</button>
</ion-content>
