<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#">
        <img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo">
      </a>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="https://picsum.photos/600/300/" class="img-responsive" alt="" />
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let p of productPics ; index as i" (click)="goAnOtherPage(i)">
        <div class="product-list">
          <img src="http://124.30.44.230/funaihelpver1/{{p.modelPic}}" class="img-responsive" alt="" />
          <h4>{{p.title}}</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>