.trade-mark-footer{background:#000000;padding: 0 5px;}
.trade-mark-footer .trade-mark-img{float: left; width: 40%}
.trade-mark-footer .trade-mark-txt{color: #ffb834; float: left;width:60%; font-size: 11px;}
.toll-txt{color: #ffb834;}
.toll-no{color: #fff;}
.hours-txt-footer{background: #333232; padding:0 5px; font-size: 12px; font-weight: normal;}
.hours-txt-footer .hours-oper-txt{color: #ffb834;}
.hours-txt-footer .hours-txt{color: #fff}
.scroll-content {margin-bottom: 100px;}


@media (min-width: 600px) {
    .trade-mark-footer .trade-mark-img{ width: 110px;float:left;}
    .trade-mark-footer .trade-mark-txt{float: none; width: 100%;}
}

@media (max-width: 375px) {
    .trade-mark-footer .trade-mark-img{float: none; text-align: center; width: 100%}
    .trade-mark-footer .trade-mark-txt{clear: both; padding: 0 10px;  text-align: center;width: 100%}
}