<ion-footer position="bottom" class="footer home-footer">
    <ion-toolbar>
        <ion-grid>
            <ion-row class="trade-mark-footer">
                <ion-col col-8 col-sm>
                    <div class="trade-mark-img">
                        <img width="100" src="assets/imgs/kodak-footer.png" />
                    </div>
                    <div class="trade-mark-txt">The Kodak trademark and trade dress are used under license from Eastman Kodak</div>
                </ion-col>
                <ion-col col-4 col-sm >
                    <div class="pull-right">
                        <div class="toll-txt">Toll Free Number : </div>
                        <div class="toll-no">1-844-995-6325</div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="hours-txt-footer">
                    <ion-col col>
                        <span class="hours-oper-txt">Hours of Operations :</span>
                        <span class="hours-txt">Monday - Sunday, 9:00am - 11:00pm E.S.T</span>
                    </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>