<br /><br /><br />
<ul class="custome-list">
    <li><div class="img-circle"></div>Printer SetUp</li>
    <li><div class="img-circle"></div>Hardware - How to</li>
    <li><div class="img-circle"></div>Hardware - How to</li>
    <li><div class="img-circle"></div>Mobile</li>
    <li><div class="img-circle"></div>Troubleshoting Errors</li>
</ul>
    
    