<!--
  Generated template for the CategorySelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
    </ion-title>
    <!-- <ion-nav-buttons side="left"> -->
    <!-- </ion-nav-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content  scroll="false">
  <!-- <button class="button button-clear  ion-arrow-left-c  " (click)="goAnOtherPage()">Back</button> -->

  <!-- <img src="https://picsum.photos/600/300/" class="img-responsive" alt=""/> -->
  <ion-col col-6 *ngFor="let p of productPics ; index as i" (click)="goAnOtherPage(i)">
    <img src="http://124.30.44.230/funaihelpver1/{{p.modelPic}}" class="img-responsive" alt=""/>
    <h4>{{p.title}}</h4>
    <!-- kaattum kadalum orupole, -->
    <!-- kochu kochu swapnangal nrutham cheyvu -->
  </ion-col>
  <div class="title">
    <h1 class="text-center font-weight-normal">I'm Looking for</h1>
  </div>


  <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item }}
    </button>
  </ion-list> -->

  <!-- <ion-list>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/icon/download.png">
    </ion-avatar>
    <h2>Cher</h2>
    <p>Ugh. As if.</p>
  </ion-item>
</ion-list> -->
<div class="container">
  <div class="catbox-bg">
  <ion-grid class="container" (click)="gotTabPage(0)">
  <ion-row col-sm>
    <ion-col col-3 col-sm padding-horizontal>
      <img src="assets/icon/download.png" alt="">
    </ion-col>
    <ion-col col-9 col-sm>
      <h2>Downloads</h2>
      <!-- <button [navPush]="tabsPage">Go To Tab Page</button> -->
      <p>Download Software, Firmware, Manuals,
Warranty and Safety sheets or Connect Your Mobile Device.</p>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-grid class="container" (click)="gotTabPage(1)">
  <ion-row col-sm>
    <ion-col col-3 col-sm padding-horizontal>
      <img src="assets/icon/troubleshoot.png" alt="">
    </ion-col>
    <ion-col col-9 col-sm>
      <h2>Troubleshooting</h2>
      <p>Download Software, Firmware, Manuals,
  Warranty and Safety sheets or Connect Your Mobile Device.</p>
      </ion-col>
    </ion-row>
    </ion-grid>
  </div>
</div>

<!-- <button ion-button navPop>Go Back</button> -->

</ion-content>
